sentence-transformers==3.2.1
qdrant-client==1.12.1
torch==2.4.1
numpy==1.24.4
transformers==4.44.2
tqdm==4.67.1
scikit-learn==1.1.2
fastapi
uvicorn[standard]
python-dotenv
pydantic
pdfplumber
requests
